.check-box {
  cursor: pointer;
}
.check-box rect {
  stroke: #000000;
  stroke-width: 1;
  fill: white;
}

.check-box polygon {
  fill: gray;
  stroke-miterlimit: 10;
}

.check-box .unchecked-internal-path {
  fill: #EFEFEF;
}
.check-box .unchecked-external-path {
  fill: black;
}
.check-box .checked-path {
}
.check-box > text {
  dominant-baseline: central;
}
