.info-bar {
  position: absolute;
  display: flex;
  flex-direction: row;
  background: yellow;
  height: 40px;
  width: 50%;
  bottom: 0;
  opacity: 0.6;
}
.info-bar .table .text-info {
  width: 100%;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}
.info-bar .table .fake-button {
  align-self: flex-end;
  white-space: nowrap;
  text-align: center;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
.info-bar .table .fake-button:hover {
  background-color: #FFB100;
}
.info-bar .table .fake-button > img {
  background-repeat: no-repeat;
  height: 20px;
  width: 24px;
  vertical-align: middle;
}
.info-bar .table .select-button > svg {
  width: 4em;
  height: 1.5em;
}
.info-bar .menu-image:before {
  content: "\F0C9";
  font-family: FontAwesome;
  cursor: pointer;
  padding-left: 4px;
  font-size: 130%;
  padding: 5px;
}
.info-bar .checked {
  background-color: #FFB100;
}
