.protein-viewer .static-label {
  position: absolute;
  text-align: center;
  z-index: 1;
  font-weight: bold;
  width: 50%;
  font-size: 110%;
}

.protein-viewer .lock-area {
  position: absolute;
  top: 0;
  z-index: 2;
  display: none;
  font-family: FontAwesome;
  cursor: pointer;
}
