<span data-dojo-attach-point="aminoacidInfo"
    class="info-bar">
  <table class="table">
    <tr data-dojo-attach-point="tableRow">
      <td data-dojo-attach-point="textInfo"
          class="text-info"></td>
      <td data-dojo-attach-point="selectButton"
          class="fake-button select-button">
        <svg data-dojo-attach-point="checkboxArea"></svg>
      </td>
    </tr>
  </table>
</span>
