<div>
	<div data-dojo-type="dijit/Dialog"
			 data-dojo-attach-point="dialog">
		<div style="width: 350px">
			<div>
				<span data-dojo-attach-point="messageSpan" />
			</div>
			<div style="margin: 0 auto; display: table">
				<button data-dojo-attach-point="okButton"
								data-dojo-type="dijit/form/Button">OK</button>
			</div>
		</div>
	</div>
</div>
