<div class="protein-viewer full-node">
  <div data-dojo-attach-point="title"
      class="static-label"></div>
  <div data-dojo-attach-point="lockInfo"
      id="${id}-lock-info"
      class="lock-area">&#xF06A;</div>
  <span data-dojo-type="dijit/Tooltip"
      data-dojo-props="connectId:'${id}-lock-info',
                       label:'${lockInfoTooltip}',
                       position: ['below', 'above']"></span>
</div>
